.content {
    &__post-wrapper {
        padding-top: 10px;
        min-width: 763px;
    }

    &__post-container {
        margin-right: 300px;
        padding: 0;
    }

    &__post-section-1 {
        margin-bottom: 20px;
        width: 100%;
        min-width: 463px;
        float: left;
    }

    &__post-header {
        position: relative;
        border: 0;
        padding: 0;

        & label {
            position: static;
            margin: auto;
            width: auto;
            height: auto;
            overflow: visible;
            clip: auto;
            color: #000;
            background-color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            border: 1px solid #e5e5e5;
            border-bottom: 0;
            padding: 8px 12px;
            display: block;
            cursor: pointer;
            pointer-events: none;
        }

        & input {
            padding: 3px 8px;
            font-size: 1.7em;
            line-height: 100%;
            height: 1.7em;
            width: 100%;
            outline: 0;
            margin: 0 0 3px;
            background-color: #fff;
            min-height: 30px;
            box-shadow: 0 0 0 transparent;
            border-radius: 4px;
            border: 1px solid #8c8f94;
            color: #2c3338;
            box-sizing: border-box;
            font-family: inherit;
            font-weight: inherit;
        }
    }

    &__post-section-3 {
        margin-bottom: 20px;
        width: 100%;
        min-width: 463px;
        float: left;
        box-sizing: border-box;
        position: relative;
    min-width: 255px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    & .content__post-header{
        display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c3c4c7;
    }
    & .content__post-header label{
        border: 0;
        color: #1d2327;
        font-size: 14px;
        padding: 8px 12px;
        margin: 0;
        line-height: 1.4;
        font-weight: 600;
    }
    }
}